{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">
        {% if object %}
            {% trans "Редактирование персонажа" %}
        {% else %}
            {% trans "Создание нового персонажа" %}
        {% endif %}
    </h2>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                {{ form.as_p }}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-warning">
                    {% if object %}
                        {% trans "Обновить персонажа" %}
                    {% else %}
                        {% trans "Создать персонажа" %}
                    {% endif %}
                </button>
                <a href="{% if object %}{% url 'characters:detail' object.pk %}{% else %}{% url 'characters:list' %}{% endif %}" class="btn btn-outline-secondary">
                    {% trans "Отмена" %}
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
