<div class="container-fluid">
    <a class="navbar-brand text-warning glow-text" href="{% url 'landing' %}">
        <i class="bi bi-shield-fill"></i> ENIGMA
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- Новый пункт меню с выпадающим списком -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="chroniclesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ХРОНИКИ ЭНИГМЫ
                </a>
                <ul class="dropdown-menu" aria-labelledby="chroniclesDropdown">
                    <li><a class="dropdown-item" href="{% url 'characters:list' %}">Сказания</a></li>
                    <li><a class="dropdown-item" href="{% url 'landing' %}">Круг избранных (в разработке)</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'event_calendar:event_calendar' %}">КАЛЕНДАРЬ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'communications:chat' %}">ЧАТ</a>
            </li>
            {% for item in menu_items %}
            <li class="nav-item">
                <a class="nav-link {% if request.path == item.url %}active{% endif %}" href="{{ item.url }}">
                    {{ item.title|upper }}
                </a>
            </li>
            {% endfor %}
        </ul>
        
        <div class="d-flex">
            {% if user.is_authenticated %}
                <span class="navbar-text me-3 text-warning">Привет, {{ user.username }}!</span>
                {% if user.is_staff %}
                <a href="/admin/" class="btn btn-outline-warning me-2">АДМИНКА</a>
                {% endif %}
                <a href="{% url 'users:profile' %}" class="btn btn-outline-warning me-2">ПРОФИЛЬ</a>
                <a href="{% url 'users:logout' %}" class="btn btn-outline-warning">ВЫЙТИ</a>
            {% else %}
                <a href="{% url 'users:login' %}" class="btn btn-outline-warning me-2">ВОЙТИ</a>
                <a href="{% url 'users:invite_form' %}" class="btn btn-warning">ПОДАТЬ ЗАЯВКУ НА ВСТУПЛЕНИЕ</a>
            {% endif %}
        </div>
    </div>
</div>
